.calender_entry{
    background-color: #f7f7f9;
    margin:20px;
    padding:20px;
}



.page-center{
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}